<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Assignment 7</title>
  <link rel="stylesheet" href="../styles/style.css" type="text/css">
</head>
<body>
  <header>
    <div id="header_icon">
      <span>QH</span>
    </div>
    <div>
      <span id="header_title"><h2>HotelsPro</h2></span>
      <span id="header_sub-title">The Key to Global Travel</span>
    </div>
  </header>
  <main>
    <div id="main_user-profile">
      <img src="../img/profile.png" alt="Profile IMG">
      <span>Welcome to HotelsPro</span>
      <span>Please Join</span>
    </div>
    <div id="main_user-info">
      <form method="post">
        <label for="username">User name: </label>
        <input type="text" name="username" placeholder="ex)Jinsoo Son" required>
        <label for="email">Email: </label>
        <input type="email" name="email" placeholder="ex)jinsu4768@gmail.com" required>
        <label for="contact">Contact: </label>
        <input type="text" name="contact" placeholder="ex)236-000-0000" required>
        <input type="submit" value="Join Us" id="join_btn">
      </form>
    </div>
  </main>
  <footer>
    <a href="https://facebook.com"><img src="../img/facebook.png" alt="facebook"></a>
    <a href="https://instagram.com"><img src="../img/insta.jpeg" alt="instagram"></a>
    <a href="https://youtube.com"><img src="../img/youtube.png" alt="youtube"></a>
  </footer>
</body>
</html>