<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Assignment 7</title>
  <link rel="stylesheet" href="../style.css" type="text/css">
</head>
<body>
  <header>
    <div id="header_icon">
      <span>QH</span>
    </div>
    <div>
      <span id="header_title"><h2>HotelsPro</h2></span>
      <span id="header_sub-title">The Key to Global Travel</span>
    </div>
  </header>
  <main>
    <div id="main_user-profile">
      <img src="../img/profile.png" alt="Profile IMG">
      <span>CONGRATUATIONS</span>
      <span>Account Created</span>
    </div>
    <div id="main_details">
      <p>
         Congratulations. Your account has been succesfully created. Just follow this link below to confirm your email adress and you will be able to continue shopping our publications in no time:
        <a href="">connections using insecure TLS v1.0 protocol.</a>
      </p>
      <p>
        <span>What do you get!</span> 
        The deadline for this change will be 4th of April, 2016 after this date we won't be acception connections using insecure TLS v1.0 protocol.
      </p>
      <p>
        Please double check your Information : <br>
        <%= username %> <br>
        <%= email %> <br>
        <%= contact %>
      </p>
      <a href=""> CONFIRM YOUR EMAIL</a>
      <p>
        Get in if you have any questions regarding our new product Feel free to contact us 24/7. <br> We are here to help.
      </p>
      <p>
        Thank you for your cooperation,<br>
        <b>Best regards</b>
      </p>
    </div>
  </main>
  <footer>
    <a href="https://facebook.com"><img src="../img/facebook.png" alt="facebook"></a>
    <a href="https://instagram.com"><img src="../img/insta.jpeg" alt="instagram"></a>
    <a href="https://youtube.com"><img src="../img/youtube.png" alt="youtube"></a>
  </footer>
</body>
</html>